@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

body {
  background: rgb(193, 193, 193);
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
